<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fake.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fake.css') }}">
    <style>
        body{
            background-image:url("/images/pastel.jpg");
            background-position:center;
            background-size:cover;
            height:100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="a">
            <img src="{{ url_for('static', filename='images/cartoonify.jpg') }}">
            <h2>CARTOONIFY</h2>
            <p>you can turn your photos to cartoon drawings without changing the outline of your photos.
                Cartoon pictures, a popular and beloved art, maximize the art of photos while retaining their basic features.
            </p>
        </div>
    </div>
    <div class="container" >
        <div class="b">
            <img src="{{ url_for('static', filename='images/sketch.jpg') }}">
            <h2>SKETCH LIGHT</h2>
            <p>Have you wanted to turn a photo into a sketch, but lacked the sketching skills? Our Photo to Sketch effects will help you create the perfect drawing – with a variety of styles to choose from – in a single click. From classic pen art to the more modern graphic novel effects, there’s an effect for you!</p>
        </div>
    </div>
    <div class="container" id="3">
        <div class="c">
        <img src="{{ url_for('static', filename='images/oil.jpg') }}">
        <h2>OIL PAINT</h2>
        <p>Oil painting is the process of painting with pigments with a medium of drying oil as the binder.The viscosity of the paint may be modified by the addition of a solvent such as turpentine or white spirit, and varnish may be added to increase the glossiness of the dried oil paint film.</p>
    </div>
    </div>
    <div class="container" id="4">
        <div class="d">
        <img src="{{ url_for('static', filename='images/pencil.jpg') }}">
        <h2>PENCIL ART</h2>
        <p>pencil drawing, drawing executed with an instrument composed of graphite enclosed in a wood casing and intended either as a sketch for a more elaborate work in another medium, an exercise in visual expression, or a finished work.</p>
    </div>
    </div>
    <div class="container" id="5">
        <div class="e">
        <img src="{{ url_for('static', filename='images/foil.jpg') }}">
        <h2>FOIL ART</h2>
        <p>Foil effect is done by placing a thin metal layer on top of the printed artwork to make it shine in that particular place. You can Google for samples, if you like. What is a foil effect after all? It is basically a masked reflection with masked bump.</p>
    </div>
    </div>
    <div class="container" id="6">
        <div class="f">
        <img src="{{ url_for('static', filename='images/negative.jpg') }}">
        <h2>NEGATIVE IMAGE</h2>
        <p>Negative, photographic image that reproduces the bright portions of the photographed subject as dark and the dark parts as light areas. Negatives are usually formed on a transparent material, such as plastic or glass.</p>
    </div>
    </div>
    <div class="container" id="7">
        <div class="g">
        <img src="{{ url_for('static', filename='images/sharpen.jpg') }}">
        <h2>SHARPEN</h2>
        <p>sharpness is how clearly detail is rendered in a photograph. That's it! Sharpness is impacted by camera resolution, lens acutance, and more. But the sharpness of an image is simply a matter of detail in the final photograph.</p>
    </div>
    </div>
    <div class="container" id="8">
        <div class="h">
        <img src="{{ url_for('static', filename='images/blur.jpg') }}">
        <h2>BLUR</h2>
        <p>Focusing on a wrong area in your image results in a blur. Blurred images are produced when you focus on an area and move your camera for recomposing the shot. This mostly happens in point and shoot camera where the preferred focus point is at the center. Other reasons are movement of you or the subject during focus.</p>
    </div>
    </div>
    <div class="container" id="9">
        <div class="i">
        <img src="{{ url_for('static', filename='images/crop.jpg') }}">
        <h2>CROP</h2>
        <p>The word Crop can be defined as “to trim” or “cut back”. The Crop tool in most image processing programs is used to trim off the outside edges of a digital image. Cropping can be used to make an image smaller (in pixels) and/or to change the aspect ration (length to width) of the image.</p>
    </div>
    </div>
    <div class="container" id="10">
        <div class="j">
        <img src="{{ url_for('static', filename='images/rotate.jpg') }}">
        <h2>ROTATE</h2>
        <p>When referring to an image or image editor, rotate is a feature that lets you turn an image in a clockwise or counterclockwise direction. For example, many editors allow you to rotate images 90, 180, or 270.</p>
    </div>
    </div>
    <div class="container" id="11">
        <div class="k">
        <img src="{{ url_for('static', filename='images/brightness.jpg') }}">
        <h2>BRIGHTNESS</h2>
        <p>Image brightness (or luminous brightness) is a measure of intensity after the image has been acquired with a digital camera or digitized by an analog-to-digital converter.</p>
    </div>
    </div>
    <div class="container" id="12">
        <div class="l">
        <img src="{{ url_for('static', filename='images/cartoonify.jpg') }}">
        <h2>CONTRAST</h2>
        <p>Contrast is the contradiction in luminance or colour that makes an object (or its representation in an image or display) distinguishable. In visual perception of the real world, contrast is determined by the difference in the colour and brightness of the object and other objects within the same field of view.</p>
    </div>
    </div>
    <div class="container" id="13">
        <div class="m">
        <img src="{{ url_for('static', filename='images/flip.jpg') }}">
        <h2>FLIP</h2>
        <p>In photography and graphic arts a flopped image is a technical term for a static or moving image that is generated by a mirror-reversal of an original image across a vertical axis.</p>
    </div>
    </div>
    <div class="container" id="14">
        <div class="n">
        <img src="{{ url_for('static', filename='images/border.jpg') }}">
        <h2>BORDER</h2>
        <p>A picture frame is a container that borders the perimeter of a picture, and is used for the protection, display, and visual appreciation of objects and imagery such as photographs, canvas paintings, drawings and prints, posters, mirrors, shadow box memorabilia, and textiles.</p>
    </div>
    </div>
    </div>
</body>
</html>